%table.table.table-striped.evaluations-table
  %thead
    %tr
      %th.name= Evaluation.human_attribute_name(:name)
  %tbody
    - evaluations.each do |evaluation|
      %tr
        %td.name
          = link_to evaluation.name, evaluation
          - evaluation.category_list.each do |category|
            %span.label.label-info= category
