%h1
  = @evaluation.name
  %small= @evaluation.suite.try(:name) || t(:".template_title")

= render partial: "navigation", locals: { evaluation: @evaluation, active: :destroy }

= confirm_destroy_form(@evaluation, t(:".confirmation"))
