%h1
  = @evaluation.name_was
  %small= @evaluation.suite.try(:name) || t(:".template_title")

= render partial: "navigation", locals: { active: :edit, evaluation: @evaluation }

= render partial: "form", object: @evaluation, as: :evaluation
