- active ||= nil
- instance  ||= nil

- content_for :title do
  - Instance.model_name.human(count: 2)

%ul.nav.nav-tabs.nav-split
  %li.primaries
    %ul.nav.nav-tabs.nav-split
      %li{class: active_if(active == :index)}
        %a{href:instances_path()}= t(:".index_action")
      - if can?(:create, Instance)
        %li{class: active_if(active == :new)}
          %a{href:new_instance_path()}= t(:".new_action")
      - if instance && can?(:show, instance)
        %li{class: active_if(active == :show)}
          %a{href:instance_path(instance)}= t(:".show_action")

  - if instance && can?(:edit, instance)
    %li.secondaries
      %ul.nav.nav-tabs.nav-split
        %li{class: active_if(active == :edit)}
          %a{href:edit_instance_path(instance)}= t(:".edit_action")
