
%table.table.table-striped.suites-table
  %thead
    %tr
      %th.name= Suite.human_attribute_name(:name)
  %tbody
    - suites.each do |suite|
      %tr
        %td.name= link_to(suite.name, suite)
