%h1
  = @suite.name
  %small= @suite.is_template? ? t(:".template_title") : Suite.model_name.human

= render partial: "navigation", locals: { suite: @suite, active: :destroy }

= confirm_destroy_form(@suite, t(:".confirmation"))
