%h1
  = @student.ordered_name
  %small= Student.model_name.human

= render partial: "navigation", locals: { active: :edit, student: @student }

= render partial: "form", object: @student, as: :student
