%table.table.table-striped.participants-table
  %thead
    %tr
      %th.name=   Student.human_attribute_name(:name)
      %th.actions &nbsp;

  %tbody
    - participants.each do |participant|
      %tr
        %td.name
          = link_to(student_name(participant.student), suite_student_path(participant.suite, participant.student))
          %small= participant.group_names
        %td.actions
          .btn-group
            %a.btn.btn-mini.btn-danger{href: confirm_destroy_participant_path(participant)}= t(:".destroy_action")
