%h1= @participant.name

= render partial: "navigation", locals: { participant: @participant, active: :destroy }

= confirm_destroy_form(@participant, t(:".confirmation"), cancel_to: @participant.suite)
