%h1
  = Participant.model_name.human(count: 2)
  %small= @suite.name

= render partial: "navigation", locals: { active: :new, suite: @suite }

= render partial: "form", object: @participant, as: :participant
