- active      ||= nil

- content_for :title do
  - t(:".title")

%ul.nav.nav-tabs
  %li{class: active_if(active == :index)}
    %a{href:template_suites_path()}= t(:".index_action")
  %li{class: active_if(active == :new)}
    %a{href:new_template_suite_path()}= t(:".new_action")
