- active      ||= nil

- content_for :title do
  - t(:".title")

- if current_user && (current_user.is_administrator? || current_user.is_admin_of?(current_instance))
  .row-fluid
    .span6
      .btn-group
        %a.btn.btn-small{href: new_template_suite_path()}= t(:".new_action")
%br
