- active      ||= nil

- content_for :title do
  - t(:".title")

- if current_user && current_user.is_administrator?
  .row-fluid
    .span6
      .btn-group
        %a.btn.btn-small{href: new_template_suite_path()}= t(:".new_action")
%br
