%li{class: active_if(params?(controller: "import/instructions"))}
  %a{href: new_import_instruction_path()}= Instruction.model_name.human(count: 2)
%li{class: active_if(params?(controller: "import/evaluation_templates"))}
  %a{href: new_import_evaluation_template_path()}= t(:".evaluation_templates")
