= form_tag({}, method: :get) do
  .input-prepend.input-append
    %span.add-on
      %i.icon-search
    = text_field_tag "q[#{field}]", params[:q].try(:[], field)
    = submit_tag t(:".search_action"), class: "btn", name: nil
