%a#templates-selector-toggler{data: { toggle: "dropdown" }}
  = t(:".title")
  %span.caret
%ul.dropdown-menu
  - if can? :manage, Student
    %li= link_to Student.model_name.human(count: 2), students_path()
  - if can? :manage, Group
    %li= link_to Group.model_name.human(count: 2), groups_path()
