/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require formtastic-bootstrap
 *= require select2
 *= require bootstrap-datepicker
 *= require jasny-bootstrap
 *= require jasny-bootstrap-responsive
 *= require slickgrid/slick.grid.css
 *= require_self
 *= require_tree .
*/

@import "variables";

.select2-container {
    width: 220px;
}
.select2-result small {
    display: block;
}
.tinymce {
    visibility: hidden;
}

.dataTables_wrapper {
    margin-top: 10px;
}

#feedback-modal {
    width:       800px;
    height:      600px;
    margin-left: -400px;

    .modal-body {
        height:     600px;
        max-height: 600px;
    }
}
#instruction-modal {
    width:       590px;
    margin-left: -305px;
}

.details-table {
    th {
        white-space: nowrap;
    }
    td {
        width: 99%;
    }

    table td { width: auto; }
}

.table {
    td.actions {
        text-align: right;

        form {
            margin: 0;
        }
    }
    .actions {
        width: 1%;
        white-space: nowrap;
    }

    .header {
        cursor: pointer;
        position: relative;
    }
    .header:after {
        content: "";
        position: absolute;
        bottom: 7px;
        right: 7px;
        border-width: 0 4px 4px;
        border-style: solid;
        border-color: #000 transparent;
        visibility: hidden;
    }
    .headerSortUp, .headerSortDown {
        background-color: rgba(141, 192, 219, 0.25);
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    }
    .header:hover:after {
        visibility: visible;
    }
    .headerSortDown:after,
    .headerSortDown:hover:after {
        visibility: visible;
        @include opacity(60);
    }
    .headerSortUp:after {
        border-bottom: none;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #000;
        visibility: visible;
        @include box-shadow(none);
        @include opacity(60);
    }
}

.load-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    @include opacity(50);
}

.placeholder { color: #aaa; }
.placeholderFocus { color: #333; }

.instance-banner.alert { margin: 0; }

.import-confirmation-list {
    white-space: nowrap;

    .error ul {
        margin-bottom: 0;
    }
}

.column-menu-action {
    position: absolute;
    top: 4px;
    right: 4px;
    @include opacity(80);
}
.column-menu-action:hover {
    @include opacity(100);
}

.log-table {
    .when, .who, .subject {
        white-space: nowrap;
        width: 1%;
    }

    small {
        display: block;
        color: #999;
    }
}
