@import "variables";

.evaluation-template-autocomplete-field {
    width: 50%;
}
.evaluations-table {
    a { display: block; }
}

.color-ranges-list {
    margin: 0;

    li {
        display: inline-block;
        @include ie7-inline-block();
        padding: 0.5em 1em;
    }
    .red {
        background: $red;
    }
    .yellow {
        background: $yellow;
    }
    .green {
        background: $green;
    }
}

.stanine-ranges-list {
    margin: 0;

    li {
        display: inline-block;
        @include ie7-inline-block();
        margin-right: 1em;
        text-align: center;

        strong {
            display: block;
        }
    }
}

.evaluation-status-progress {
    margin: 0.5em 0 0 0;
    height: 10px;
}

.grade-fields.form-horizontal {
    label {
        width: 70px;
    }
    .controls { margin-left: 90px; }
}

