#meeting-report-form {
    .activities-fields .inputs {
        padding-bottom: 2em;
        margin-bottom: 2em;
        border-bottom: 1px solid #e5e5e5;
    }

    .hidden {
        visibility: visible;
        display: block;
    }

    .select2-container {
        width: 98%;
    }
}
