#new_participant {
    .hidden {
        visibility: visible;
        display: block;
    }

    .select2-container {
        width: 30em;
    }
}

.participants-table .name small {
    display: block;
}
