@import "variables";

table.results-table {
    .result {
        padding: 8px;
        text-align: center;
    }

    .result-red    { background-color: $red; }
    .result-yellow { background-color: $yellow; }
    .result-green  { background-color: $green; }

    &.table-hover tbody tr {
        &:hover > .result-red    { background-color: darken($red, 5%); }
        &:hover > .result-yellow { background-color: darken($yellow, 5%); }
        &:hover > .result-green  { background-color: darken($green, 5%); }
    }
}

@media print {
    table.results-table {
        .result img {
            display: block;
        }
        .filter-row,
        .icon-trash {
            display: none;
        }
    }

    .result-toggles,
    .add-generic-evaluations-form {
        display: none;
    }
}

