.groups-table .select {
    width: 1%;
    white-space: nowrap;
}

#student-form {
    .hidden {
        visibility: visible;
        display: block;
    }

    .select2-container {
        width: 30em;
    }
}
