@import "variables";

.suite-calendar-table, .suite-associations-table {
    .date, .icon {
        width: 1%;
        white-space: nowrap;
    }

    .overdue a {
        color: $red;
    }
}

.report-all-evaluations {
    float: right;
}
@media (max-width: 979px) {
    .report-all-evaluations, .report-all-checkbox {
        display: none;
    }
}

.suite-actions {
    margin-bottom: 20px;
}

#select-users-form .hidden {
    visibility: visible;
    display: block;
}

.color-table {
    .data-table {
        margin-bottom: 0;
    }

    .DTFC_LeftWrapper {
        z-index: 3;

        .DTFC_LeftHeadWrapper,
        .DTFC_LeftBodyWrapper,
        .DTFC_LeftFootWrapper {
            background: #fff;
        }
    }

    .DTFC_LeftHeadWrapper .data-table,
    .dataTables_scrollHead .data-table {
        border-bottom: 0;
    }
    .DTFC_LeftBodyWrapper .data-table,
    .dataTables_scrollBody .data-table {
        border-top: 0;
    }
    .DTFC_LeftFootWrapper .data-table,
    .dataTables_scrollFoot .data-table {
        border-top: 0;
        margin-top: 1em;
    }
}

.color-table-column-popup {
    .locked { display: none; }

    &.locked {
        .locked { display: block; }
        .unlocked { display: none; }
    }
}

.tooltip strong.date {
    font-size: 1.3em;
}
.tooltip strong.date.overdue {
    color: $red;
}
