
.suite-calendar-table, .suite-associations-table {
    margin-top: 1em;

    .date, .icon {
        width: 1%;
        white-space: nowrap;
    }
}

#select-users-form .hidden {
    visibility: visible;
    display: block;
}
