- unless activities.blank?
  %ul.unstyled.activity-list
    - activities.each do |activity|
      %li{class: activity.overdue? ? "overdue" : ""}
        = link_to activity do
          %span.name= activity.name
          - if activity.start_date || activity.end_date
            - dates = []
            - dates << l(activity.start_date) if activity.start_date
            - dates << l(activity.end_date)   if activity.end_date
            %small.date= dates.join(" - ")
          %span.label= activity.type_text
