%h1
  = @color_table.name
  %small= ColorTable.model_name.human

= render partial: "navigation", locals: { color_table: @color_table, active: :destroy }

= confirm_destroy_form(@color_table, t(:".confirmation"))
